---

grafana_password: S0m3S3cur3P4ssW0rd
influxdb_tls_ca_cert: |
  -----BEGIN CERTIFICATE-----
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH  
  -----END CERTIFICATE-----

influxdb_password: S0m3S3cur3P4ssW0rd

